/* Tag selector */
/*
  when we set the width of the block element h1, the center allignmnent given to body no longer works on h1 tag
  so what we have to do is we need to set margin to auto and the auto margins are those ones which are to be centered
  either the left or right for horizontal center
  or top or bottom for vertical center
  so text-align aligns any element in it if its width is not specified
  but if width is specified we need to center it using auto
*/
/*
  16px = 100%
  1px = 100/16 %
  90px = 100/16 * 90 % == 562.5%

  16px = 100% = 1em

  if em or percentage are used, they are dynamic sizings and if parent element and child element uses dynamic sizings
  child element size gets added to parent and it becomes gigantic
  so in order to avoid this, css3 has a feature to dynamic size using rem
  it ignores what parent sizings is, it just does what it should do
*/

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

h1 {
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 2;
  margin: 50px auto 0 auto;
  /* width: 10%;
  margin: 0 auto 0 auto; */
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
  margin-bottom: 15px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  width: 5%;
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  margin: 50px auto;
}

body {
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
  color: #40514E;
}

p {
  line-height: 2;
}

/* class selector */
.top-container {
  background-color: #E4F9F5;
  margin: 0;
  position: relative;
  padding-top: 100px;
}

.profile-pic {
  height: 20%;
  width: 20%;
}

/*
  float basically wraps around element so that it can appear next to the element according to what we want
  clear property is an anti float property which clears the effect of float and can be used to discard
  certain elements from being floated.
*/

.coding {
  border-radius: 100%;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.web-dev {
  border-radius: 100%;
  width: 25%;
  float: right;
  margin-left: 30px;
}

.middle-container {
  margin: 100px auto;
  background-color: white;
}

.bottom-container {
  background-color: #66BFBF;
  margin: 0;
  line-height: 3;
  padding: 20px;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: 0 auto;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 200px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.copyright {
  margin: 0;
  font-size: 0.75rem;
  padding: 20px 0;
  color: #EAF6F6;
}

.footer-link {
  margin: 10px 4%;
}

.contact-me {
  margin: 50px auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

/*
  div size = 300 x 300
  border = 50px means with 300 size of div, 50 px of border will be there
  padding = 20px means inside the contents of div, it will have 20px padding on each side in addition to 300 size of div
  border doesnt increase size of our box
  padding does increase size of our box
  margin is the buffer distance that is between the current element (div in our case) and the other element
*/
